<div class="container">
  <div class="table-header-buttons">
    <button [disabled]="enableShoppingKartButton()" class="header-button" matBadge="{{getProductsSize()}}" [matBadgeHidden]="!showProductsBadge()" matBadgePosition="before" matBadgeColor="accent" (click)="openShoppingCartDialog()" mat-flat-button color="primary"><mat-icon>shopping_cart</mat-icon>Ver carrito</button>
    
  </div>
  <mat-progress-bar #progressBar
      class="example-margin"
      color=accent
      mode=query
      [value]="100"
      >
    </mat-progress-bar>
  <table mat-table [dataSource]="productos" class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        
      </th>
      <td mat-cell *matCellDef="let row">
        
      </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let producto"> {{producto.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let producto"> ${{producto.precio}} </td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let producto"> {{producto.marca.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let producto"> {{producto.categoria.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let producto"> 
        <button (click)="addToShoppingKart(producto)" matBadge="{{getProductCount(producto)}}" [matBadgeHidden]="!showDeleteButton(producto)" matBadgePosition="before" matBadgeColor="accent" mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon></button>
        <button [disabled]="!showDeleteButton(producto)" class="delete-button"style="margin-left:10px"(click)="removeFromShoppingKart(producto)" mat-raised-button color="warn"><mat-icon>remove_shopping_cart</mat-icon></button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <div *ngIf="!showNoProductsMessage">
      <tr  mat-row *matRowDef="let row; columns: displayedColumns;"
          >
      </tr>
    </div>
    
  </table>
  <div class="empty-table-message" *ngIf="showNoProductsMessage">
    <div class="empty-table-message-text" *ngIf="showNoProductsMessage">No hay productos disponibles</div>
  </div>

</div>