.example-list {
    box-shadow: 0px 0px 32px -10px #7b1fa2;
    margin: auto;
    width: 550px;
    max-width: 100%;
    border: solid 1px #7b1fa2;
    min-height: auto;
    max-height: 450px;
    display: block;
    background: #3c3a3d;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: auto;
  }

.payment-method-list{
  box-shadow: 0px 0px 32px -10px #7b1fa2;
  margin: auto;
  width: 550px;
  max-width: 100%;
  border: solid 1px #7b1fa2;
  min-height: auto;
  max-height: 450px;
  display: block;
  background: #3c3a3d;
  border-radius: 5px;
  overflow: hidden;
  overflow-y: auto;
}

  /* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: #3c3a3d;
  box-shadow: inset 0 0 4px #69F0AE;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

::ng-deep .mat-step-text-label{
  font-weight: bold;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #7b1fa2; 
  border-radius: 10px;
  -webkit-transition: background-color 2s ease-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #69F0AE; 
}

  ng-template{
    font-weight: bold;
  }
  .buy-buttom{
    font-weight: bold;
    float: right;
    margin: auto!important;
    width: 100%;
    min-height: 45px;
  }


  ::ng-deep .mat-step-header{
    border-radius: 20px;
  }
    ::ng-deep .mat-horizontal-stepper-header-container{
        height: 40px;
    }

    ::ng-deep .mat-step-header{
        margin-bottom: 10px;
        height: 40px!important;
    }

  .total-amount-box{
    padding-top: 20px;
    min-height: 120px;
    margin: auto;
    width: 90%;
  }

  .total-amount-box-number{
    text-align: center;
    min-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }

  .promotions-box{
    box-shadow: 0px 0px 32px -10px #7b1fa2;
    border-radius: 5px;
    width: 90%;
    margin: auto;
    border: solid 1px #7b1fa2;
  }
  .no-promotions-message{
    margin: auto;
    width: 65%;
    font-size: large;
    padding-top: 85px;
    min-height: 151px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: #69F0AE 1px 0 70px;

  }

  .promotions-list-title{
    margin: auto;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 95%;
    border-bottom: #7b1fa2 1px solid;
  }
  .promotions-list-box{
    margin-top: 10px;
    min-height: 245px;
  }

  .total-amount-box-aclaration{
    border-top: 1px solid #69F0AE!important;
    padding-top: 10px;
    text-align: center;
    min-height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

  }

  .sale-resume{
    box-shadow: 0px 0px 32px -10px #7b1fa2;
    border-radius: 5px;
    border: solid 1px #7b1fa2;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #7b1fa2;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: #3c3a3d;
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    transition: border 1s ease-in , color 1s;
  }

  .payment-method-box {
    padding: 15px 10px;
    border-bottom: solid 1px #7b1fa2;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  
    background: #3c3a3d;
    font-size: 14px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    transition: border 1s ease-in , color 1s;
  }

  .left-box{
    width: 60%;
    float: left;
  }
  .right-box{
    min-height: 450px;
    border-left: 1px solid #69F0AE;
    width: 40%;
    float: right;
  }

  .example-box:hover {
 
    border-bottom: solid 1px #69F0AE;
    color: #69F0AE;
    
  }
  
  
  .cdk-drag-preview {
    color: #69F0AE;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


  .progress-bar{
    animation: fadeIn 1.0s!important;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #3c3a3d;
    border: dashed 1px #69F0AE;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .discount-row{
    border-bottom: #7b1fa2 1px solid;
    margin: auto;
    width: 90%;
    text-align: center;
  }

  .total-amount-discounted{
    float:right;
    width:50%;
    animation: fadeIn 0.4s!important;
  }
  th{
    text-align: left;
  }